
body{
	width: 80%;
}

.form{
position: absolute;
  opacity: 0.8;
  padding: 15px;
  font-size: 1.4em;
  float: left;
  margin-top: 3vh;
  
	margin-left: 3%;
	margin-right: 0%;
}

.front-container{
  position: relative;
  
  font-weight: bold;
  margin-top: 2vh;
}


.front-link{
  position: relative;
  height: 90px;
  width: 240px;
  background-color: #ffffff;
  opacity: 0.8;
  border-radius: 20px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 18px;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 19px;
  font-size: 1.6em;
  
   outline-style: solid;
    outline-color: #321c2b;
    outline-width: 10px;
	-moz-outline-radius: 33px;
	z-index:10;
	
}


.front-link:hover{
  opacity: 1;
  height: 100px;
  width: 250px;
  color:#B19100;
  cursor: pointer;
}

.front-link:active{
  opacity:1;
}

.hoverit_1:hover{
	width: 400px;
	color: red;
	background-color: red;
}

h1{
	color: white;
    font-size: 80px;
    position: relative;
    left: 204px;
}

h3{
	margin-left: 286px;
	font-size: 27px;
	color: white;
	margin-top: -45px;
}

.mainbody{
	width: 100%;
	height: 100%;
}

/*
.modal-content:hover{
	opacity: 1;
  height: 100px;
  width: 250px;
  color:#B19100;
}

*/

.right-bottom{
	float: right;
	background-color: grey;
	width: 40%;
	height: 100%;
}

#video-background {
	margin-left: -100px;
  position: fixed;
  width: auto;
  height: 123%;
  z-index: -5;
  margin-top: -100px;
}
