.jumbotron7 {
  background-image:url(../concert.png);
  height:500px;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 300px;
  font-weight: 900;
  
}
.jumbotron7 .container {
  position:relative;
  top:50px;
}
